<div
  class="
    mb-4 sm:mb-6 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3
    sm:gap-0
  "
>
  <div>
    <h2 class="text-xl sm:text-2xl font-bold text-primary mb-1 sm:mb-2"><%= t(".title") %></h2>
    <p class="text-sm sm:text-base text-muted-foreground"><%= t(".subtitle") %></p>
  </div>

  <% if current_user.trusted_user? %>
    <%= button_link t(".add_new"),
    new_dashboard_server_tag_path,
    variant: :primary,
    data: {
      turbo_frame: "tags_content",
      turbo_action: "advance",
      testid: "new-tag-button",
    },
    html_options: {
      class: "text-center",
    } %>
  <% end %>
</div>
