<div class="flex h-full w-full">
  <%= render "dashboard/sidebar" %>

  <div class="flex-1 p-3 sm:p-4 md:p-6 overflow-y-auto">
    <%= render "tags_content",
    tags: @tags,
    tag: @tag,
    title: t(".title.show"),
    submit_text: nil,
    read_only: true %>
  </div>
</div>
