<div class="video-background">
  <video autoplay muted loop playsinline>
    <source src="<%= asset_path('background-video.mp4') %>" type="video/mp4">
  </video>
  <div class="video-overlay"></div>
  <div class="video-content">
    <div class="mx-auto sm:mb-auto sm:mt-130 text-center space-y-8">
      <div>
        <h1 class="text-4xl sm:text-6xl font-bold text-foreground mb-2"><%= t("home.welcome_title") %></h1>
        <p class="text-l sm:text-xl text-muted-foreground"><%= t("home.welcome_subtitle") %></p>
      </div>

      <%= discord_button(
        t("home.login_with_discord"),
        user_discord_omniauth_authorize_path,
      ) %>
    </div>
  </div>
</div>
